.pag-details {
}

.product-details {
  display: flex;
  justify-content: space-around;
}

.product-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4px;
}

.product-pictures img {
  margin: 4px;
}
