@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200') ;

.material-symbols-outlined {
  display: flex;
  font-size: 40px;
  font-variation-settings: 'FILL' 0 , 'wght' 400 , 'GRAD' 0 , 'opsz' 48;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 30px;
}

.link-shopping-cart, a {
  color: black;
  text-decoration: none;
}
