.shopping-cart ul {
  display: flex;
}

.product-card-shopping-cart {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-quantity {
  margin: 4px;
}
